<section class="py-5">
    @if (herbDetails) {
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0"
                        src="{{herbDetails.image}}" alt="..." /></div>
                <div class="col-md-6">
                    {{herbDetails}}
                    <div class="small mb-1">{{herbDetails.latin}}</div>
                    <h1 class="display-5 fw-bolder">{{herbDetails.name}}</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration">{{herbDetails.name}}</span>
                    </div>
                    <p class="lead">{{herbDetails.description}}</p>
                       @if (isOwner) {
                        <div class="btn-group mx-auto">
                            <button type="button" (click)="editHerb(herbDetails)" class="btn btn-outline-warning m-4" > Edit </button>
                            <button type="button" class="btn btn-outline-danger m-4" > Delete </button>
                        </div>
                       }
                </div>
            </div>
        </div>
    }
</section>