.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    padding: 5px;
  }

  .nav-item:hover .nav-link {
   border-bottom: 1px solid white;
  }

  .nav-link.active {
    border-bottom: 1px solid white;
    color: #a3eab3;
  }

  .nav-item{
    margin:0 5px;
  }