<nav class="navbar navbar-expand-lg navbar-light bg-success mx-auto">
    <div class="container-fluid">
        <a class="navbar-brand text-white">Herbs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto"> <!-- Center the content with mx-auto -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" role="button">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" role="button">About</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
