<header class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-dark mb-2">Herbs Catalog</h1>
                    <p class="lead fw-normal text-dark-50 mb-4">
                        Browse available herbs and learn about their properties or join our family and add new and unknown herbs</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-success btn-lg px-4 me-sm-3" routerLink="herbs/catalog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Catalog</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://www.aveeno.com/sites/aveeno_us_2/files/healingherbswithmortaran_687349.jpg" alt="..." /></div>
        </div>
    </div>
</header>