<div class="jumbotron bg-cover text-white" id="bg-container">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">CATALOG HERBS</h1>
        <p class="font-italic mb-0">
            take a look at our catalog of herbs and find out how they can help you</p>
        <p class="font-italic">
            Оr join our family and create this catalog with us
        </p>
        <a href="#" role="button" class="btn btn-primary px-5">Sign in</a>
    </div>
</div>

<div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
    </div>
    <div class="row tm-mb-90 tm-gallery">
        @for (herb of allHerbs; track $index) {
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <a [routerLink]="['/herbs/details/', herb._id]">
                    <img src={{herb.image}} alt="Image" class="img-fluid">
                </a>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span>{{herb.name}}</span>
            </div>
        </div>
        }
    </div>
    <div class="row tm-mb-90">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <span class="page-link">
                        2
                    </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>