#bg-container{
    background: url("https://www.shutterstock.com/image-photo/spice-background-top-view-seasoning-260nw-758273548.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    filter: saturate(0.5);
}

.tm-paging-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    color: #999;
    background-color: #EEEEEE;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.tm-paging-link:hover,
.tm-paging-link.active {
    background-color: #198754;
    color: #fff;
}

.btn-primary {
    background-color: #198754;
    border: 0;
    border-radius: 5px;
    padding: 10px 30px 14px;
    font-size: 1rem;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:#086969;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #198754;
    pointer-events: all;
    cursor: not-allowed;
}

li .active{
    color: #198754;
}
h1, p{
    font-weight: 800;
}

h1{
    text-shadow: 6px 4px black;
}

p{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-herb{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

.card-herb figure{
    height: 17rem;
}

img{
    width: auto;
    height: 100%;
    margin-top: 5px;
    border-radius: 25px;
}

.herb-name{
    padding-left: 10px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .row{
        flex-direction: column;
        align-content: center;
    }
}

@media (max-width: 426px){
p{
    display: none;
}
}
